html {
    background-color: var(--background);
    text-align: center;
    color: var(--foreground);
}

* {
    box-sizing: border-box;
}

:root {
  --background: #20222B;
  --current: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

body {
    margin: 0;
    font-family: "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    font-size: 1rem;
    font-weight: 500;
    overflow: hidden;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

button {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

#app {
    height: 100vh;
    text-align: center;
}

.no-drag {
    --wails-draggable:no-drag
}

.hor {
flex-direction: row;
}

.ver {
flex-direction: column;
}